<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.mob.paysdk"
    tools:node="replace"
    android:versionCode="100"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <!-- 支付Pay sdk权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
	<uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc.hce"/>

    <application
        android:name="com.mob.MobApplication">
        <!-- 支付Pay sdk权限 -->
        <activity
            android:name="com.mob.paysdk.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="true">
        </activity>

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 微信支付 -->
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            tools:node="replace"
            android:exported="true"
            android:targetActivity="com.mob.paysdk.PaymentActivity" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

		<!-- 银联支付 -->
		<uses-library
			android:name="org.simalliance.openmobileapi"
			android:required="false" />

		<activity
			android:name="com.unionpay.uppay.PayActivity"
			android:configChanges="orientation|keyboardHidden"
			android:excludeFromRecents="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize" />

		<activity
			android:name="com.unionpay.UPPayWapActivity"
			android:configChanges="orientation|keyboardHidden"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
